<!DOCTYPE html>
<html>
    <head>
        <title>Hello world</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="layout.css">
    </head>
    <body>
<div class="header">
    <div class="container">
        <div class="head">
            <img style="float: left; width: 15%" src="http://www.sreenutech.com/assets/img/html.png" alt="HTML 5">
            <div class="nav">
                <ul>
                    <li><a href="#">Home</a> &nbsp&nbsp</li>
                    <li><a href="#">Slide</a> &nbsp&nbsp</li>
                    <li><a href="#">Labs</a> &nbsp&nbsp</li>
                    <li><a href="#">Students</a> &nbsp&nbsp</li>
                </ul>
            </div>
        </div>
            </div>
            <div style="clear: both;"></div>
            <div class="intro">
                <p>"Tell me and i forget, teach me and i may remember, involve me and i learn."</p>
                <p id="author">~ Benjamin Franklin</p>
            </div>
        </div>
        <div class="body container">
            <div class="item">
                <h3><a href="#">Sematic Tag</a></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
            <div class="item">
                <h3><a href="#">Coding Tip</a></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
            <div class="item">
                <h3><a href="#">Positioning Content</a></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
            <div class="item">
                <h3><a href="#">Box Model</a></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
            <div class="item">
                <h3><a href="#">Working with Typography</a></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
            <div style="clear: both;"></div>
        </div>
            
        
        <footer>
            <h4>Copyright © 2017 Akseto</h4>
        </footer>
    </body>
</html>